/*code may be messy, sorry! -TD*/

*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to bottom, white, #7393B3);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar{
    /*background: linear-gradient(to top, white, #7393B3);*/
    width: 100%;
    height: auto;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}



/*might not need this-TD*/

.login a {
    list-style: none;
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
}




.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

}

/* This deals with the navigation and menu bars-TD*/
ul{
    
list-style: none;
float:left;
display: flex;
justify-content: center;
align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 20px;
    font-size: 16px;
    position: relative;
}


.menu ul li a:hover {
    color: rgb(214, 193, 0);
}








/*cosmetics Home, About, Ministries, ETC...-TD*/
ul li a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
}


/*transition hovering color-TD*/
ul li a:hover{
    color: rgb(214, 193, 0);
}






/*when hovering this will show the submenus-TD*/
ul .submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

ul li:hover .submenu {
    display:block; 
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 20px;
    margin: 20px;
}


/*putting this here so header isnt beside the paragraph content -TD*/
.header-content {
    text-align: center;
    margin-bottom: 10px;
    
    
}
.paragraph-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(1, 19, 37);
}
