/*code may be messy, sorry!! -TD*/
/* Lines 1-450 written by Thomas*/
*{
    
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.main{
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden; /*allows the mobile format to look right*/
  
    width: 100%;
    /*    background: linear-gradient(to bottom, white, #7393B3);
*/
    /*background: linear-gradient(to bottom, white, rgb(49, 94, 49));*/

    /*heres the old right color background: linear-gradient(to bottom, white, #4a4279);*/
    
 
    /*previous background: linear-gradient(to bottom, white, rgb(0, 0, 145));*/
    position: relative;
    background-position: center;
    background-size: cover;
}


.navbar{
    /*background: linear-gradient(to top, white, #7393B3);*/
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 20px;
}

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}



/*might not need this-TD*/

.login a {
    
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
    font-size: 18px;
}




.menu{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    margin: 0;/* -40 margin makes it go up. might be useful*/
    

   /* padding-left: 30px;
    padding-right: 30px;*/
}

/* This deals with the navigation and menu bars-TD*/
ul{
list-style-type: none;
list-style: none;
float:left;
display: flex;
justify-content: center;
align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;/* This spaces out the tabs-TD*/
    font-size: 20px;
    position: relative;
}


.menu ul li a:hover {
    color: rgb(214, 193, 0);
}


/*cosmetics Home, About, Ministries, ETC...-TD*/
ul li a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
}


/*transition hovering color-TD*/
ul li a:hover{
    color: rgb(214, 193, 0);
}






/*when hovering this will show the submenus-TD*/
ul .submenu {
    
    text-align: left;
    margin: 0;
    z-index: 2;/*wow now it finally doesnt go under the banner, big headache figuring this out*/
    display: none;
    position: absolute;
    top: 90%; 
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 300%; 
    /*gives it some space between submenu lines, so annoying initially-TD*/
    line-height: 120%;
}



.sub-menu li {
    padding: 15px 20px;
}



ul li:hover .submenu {
    display:block; 
}






@media only screen and (max-width: 623px) {/*mobile view -TD*/
    .menu ul li {

        font-size: 15px; 
        margin: 0; 


    }
    ul .submenu {
    
        width: 110%; 
  
    }


ul .button{
    width: 92%;
}



    .Email span,
    .PhoneNumber span,
    .BottomInfo span {
        font-size: 17px;
        margin: 0;
    }
}







.content {
    background: linear-gradient(to bottom, white, rgb(243, 219, 83));
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;

    color: royalblue;
    text-shadow: 0 0 3px #ffffff, 0 0 5px #ffffff;

    padding: 40px;
}


/*putting this here so header isnt beside the paragraph content -TD*/
.header-content {
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
    
}
.paragraph-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}










.SloganBanner {
    z-index: 1; /*wow now it finally doesnt go over the submenu*/
background-position-x: -10;
    width: 100%;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    background-image: url(../Pictures/HomepageBannerImage.jpg);
    background-position: center;
    background-size: cover; 
    font-size: 24px;
    font-family: "Arial", sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    opacity: 0.9;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.englishSlogan {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 16px;
}

.VietnameseSlogan {
    position: absolute;
    top: 20px;
    right: 20px;
    
    font-size: 16px;
}




.SloganBanner p {
    position: absolute;
    padding: 20px;
    font-size: 20px; 
    bottom: 10px;
}



/*buttons-----------------------------------------------------------*/


.middle{
    /*background: linear-gradient(to bottom, #32CD32, white );*/
    
       /* background: linear-gradient(to bottom, white, #7393B3);*/
    
     
        background-color: rgb(135, 135, 247);
     
      
    
    height: auto;
    }



    .grid-container {
     padding: 20px;
    font-size: 30px;
    text-align: center;
    min-height: 200px;
        
        
        }
        
        
        .grid-container2 {
           
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px;
        justify-content: center;
        align-items: center;
        
        }

        
        .grid-itemgreen.white-background {
            background-color: white;
        }
        
        .grid-item {
            padding: 20px;
            font-size: 30px;
            text-align: center;
            min-height: 200px;
        }
        
        .grid-item2 {
            padding: 20px;
            font-size: 30px;
            text-align: center;
            min-height: 200px;
        }
        .grid-item2 h1 {
        color: rgb(255, 255, 255);
        font-family: "Arial", sans-serif;
        font-size: 22px;
        }
        .grid-item2 p {
        font-size: 19px; 
        font-family: "Arial", sans-serif;
        }
        
        
        

        .grid-item2 iframe{
            width: 80%; 
            
            height: 450px; 
            border: 0;
            border-radius: 50px;
        }

.grid-item2 p{
    color: rgb(255, 255, 255);
    font-family: "Arial", sans-serif;
    font-size: 19px;
}

.grid-item2 p2{
    color: rgb(255, 255, 255);
    font-family: "Arial", sans-serif;
    font-size: 19px;
    align-items: left;
    text-align: left;
}


textarea {
        padding: 0 20px;
    min-width: 100px;
    outline:none;
    background-color: #d9e9e9;
    border: 2px solid royalblue;
    border-radius: 4px;
    resize: none;
    
    height:auto;
    line-height:1.5;
    font-size: large;
    border-radius: 10px;
  }

  

  
/*buttons-----------------------------------------------------------*/





.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: rgb(49, 94, 49);
	font-weight: bold;
	letter-spacing: .1px;
	height: 70px;
    width: 80%;
  }
.button:hover {
	background-color: darkgoldenrod;
}














.ContactChurch{
    
    background: linear-gradient(#342e63, #48508f);
    width: 100%;
    position: relative;
    font-size: 12px;
    top: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Arial", sans-serif;
    color: #fff;
    flex-direction: column;

}
.ContactChurch p{

    padding: 0px;
    font-size: 19px; 

}
.ContactChurch h2{
    font-size: 30px;
}

/*Below is for the bible verse in gold -TD*/

.ContactChurch h3 {
    padding-top:60px;
    font-size: 23px; 
    color: rgb(253, 238, 151);
    
text-align: center;    
}

.ContactChurch p3 {
  
    text-align: center;    
    padding: 2px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 19px; 
    color: rgb(253, 238, 151);
}




/*Copyright Information -TD*/
.ContactChurch p4 {
  width: 100%;
    position: relative;

    background-color: #333; 
    color: #fff;
    text-align: center; 
    font-size: 14px; 
}


.AdminLinks {
    height: 450px;
    width: 100%;

    background: linear-gradient(#342e63, #48508f);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    list-style: none;
}

.AdminLinks li {
    margin: 0;
}

.AdminLinks a {
    color: #fff;
    text-decoration: none; 
    font-size: 1.2em;
    margin: 0 10px;
}

.AddInfo {
    height: auto;
    text-align: center;
    justify-content: center;
    background-color: lime;
}

.BottomContact{

    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    text-align: center;

}
.BottomInfo span{
    color: #fff;
    text-align: center; 
    font-size: 22px; 
}
.Bottominfo {
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    color: #fff;
    text-align: center; 
    font-size: 14px; 
}

.Email {
    
    padding: 40px;
    color: #fff;
    text-align: center; 
    font-size: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.PhoneNumber {
    font-size: 22px; 
    padding: 40px;
    margin: 0 10px;
}
