/*code may be messy, sorry!! -TD*/
/* Lines 1-450 written by TD*/
*{
    
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.main{
    max-width: 100%;
    
    overflow-x: hidden; /*allows the mobile format to look right*/
    
    width: 100%;
    /*    background: linear-gradient(to bottom, white, #7393B3);
*/
    /*background: linear-gradient(to bottom, white, rgb(49, 94, 49));*/

    /*heres the old right color background: linear-gradient(to bottom, white, #4a4279);*/
    background: linear-gradient(to bottom, white, rgb(0, 0, 145));
    position: relative;
    background-position: center;
    background-size: cover;
    height: 2050px;
}


.navbar{
    /*background: linear-gradient(to top, white, #7393B3);*/
    width: 100%;
    height: auto;
    background-color: white;

}

.header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}



/*might not need this-TD*/

.login a {
    
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
    font-size: 18px;
}




.menu{
    display:flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    margin: 0;/* -40 margin makes it go up. might be useful*/
    

   /* padding-left: 30px;
    padding-right: 30px;*/
}

/* This deals with the navigation and menu bars-TD*/
ul{
list-style-type: none;
list-style: none;
float:left;
display: flex;
justify-content: center;
align-items: center;
}

.menu ul li {
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;/* This spaces out the tabs-TD*/
    font-size: 20px;
    position: relative;
}


.menu ul li a:hover {
    color: rgb(214, 193, 0);
}


/*cosmetics Home, About, Ministries, ETC...-TD*/
ul li a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
}


/*transition hovering color-TD*/
ul li a:hover{
    color: rgb(214, 193, 0);
}






/*when hovering this will show the submenus-TD*/
ul .submenu {
    
    text-align: left;
    margin: 0;
    z-index: 2;/*wow now it finally doesnt go under the banner, big headache figuring this out*/
    display: none;
    position: absolute;
    top: 90%; 
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 300%; 
    /*gives it some space between submenu lines, so annoying initially-TD*/
    line-height: 26px;
}



.sub-menu li {
    padding: 15px 20px;
}



ul li:hover .submenu {
    display:block; 
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 20px;
    margin: 20px;
}


/*putting this here so header isnt beside the paragraph content -TD*/
.header-content {
    text-align: center;
    margin-bottom: 20px;
    list-style-type: none;
    
}
.paragraph-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    color: rgb(1, 19, 37);
}










.SloganBanner {
    z-index: 1; /*wow now it finally doesnt go over the submenu*/
background-position-x: -10;
    width: 100%;
    position: relative;

    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    background-image: url(../Pictures/HomepageBannerImage.jpg);
    background-position: center;
    font-size: 24px;
    font-family: "Arial", sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    opacity: 0.9;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.SloganBanner p {
    padding: 20px;
    font-size: 20px; 
}














.UpcomingEvents{
    width: 40%;
    position: relative;

    top: 275px;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    align-items:normal;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    color: #fff;
    padding: 60px;
    opacity: 0.9;

    flex-direction: column;

}
.UpcomingEvents p{

    padding: 20px;
    font-size: 19px; 

}


.UpcomingEvents a {
    
    font-size: 19px; 
    text-decoration: none; 
    color: #b9fcd2;
    padding: 20px;
    
    transition: .5s ease-in-out;
    display: flex;
    justify-content: space-between;
  }
  
  .UpcomingEvents a:hover {
    color: rgb(214, 193, 0);
  }




.UpcomingEventsSection {
    
    /* Added a new class for the wrapper div */
    display: flex;
    justify-content: space-between;
    
}



.ChurchCalendar{
width: 100%;
    position: relative;
left: -25%;
    top: 275px;
    transform: translate(0, -50%);
    display: flex;
    justify-content: left;
    align-items:normal;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    color: #fff;
    padding: 20px;
    opacity: 0.9;
    border-left: 2px solid #b9fcd2;
    flex-direction: column;

    
}



.ChurchCalendar p{

    padding: 20px;
    font-size: 19px; 

}


.ChurchCalendar a {
    
    font-size: 19px; 
    text-decoration: none; 
    color: #b9fcd2;
    padding: 20px;
    
    transition: .5s ease-in-out;
    display: flex;
    justify-content: space-between;
  }
  




.ChurchCalendar {
    display: flex;
    justify-content: space-between;
}








.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: rgb(49, 94, 49);
	font-weight: bold;
	letter-spacing: .1px;
	
  }
.button:hover {
	background-color: darkgoldenrod;
}














.ContactChurch{
    width: 100%;
    position: relative;
    font-size: 12px;
    
    top: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family: "Arial", sans-serif;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    opacity: 0.9;
padding-bottom: 20px;
    flex-direction: column;

}
.ContactChurch p{

    padding: 0px;
    font-size: 19px; 

}
.ContactChurch iframe{
    height: 450px;
    width: 500px;
    padding-top: 20px;
    font-size: 19px; 
    border-radius: 70px;

}


/*Below is for the bible verse in gold -TD*/

.ContactChurch h3 {
    padding-top:60px;
    font-size: 23px; 
    color: rgb(253, 238, 151);
    
text-align: center;    
}

.ContactChurch p3 {
  
    text-align: center;    
    padding: 2px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 19px; 
    color: rgb(253, 238, 151);
}




/*Copyright Information -TD*/
.ContactChurch p4 {
  width: 100%;
    position: relative;
bottom:0px;
    background-color: #333; 
    color: #fff;
    text-align: center; 
 
    font-size: 14px; 
}
