*{
    
    list-style-type: none;
    margin: 0;
    padding: 0;

}
    
    .main{
        max-width: 100%;
        overflow-y: hidden;
        overflow-x: hidden; /*allows the mobile format to look right*/
        
        width: 100%;
        /*    background: linear-gradient(to bottom, white, #7393B3);
    */
        /*background: linear-gradient(to bottom, white, rgb(49, 94, 49));*/
    
        /*heres the old right color background: linear-gradient(to bottom, white, #4a4279);*/
        position: relative;
        background-position: center;
        background-size: cover;
        height: auto;
    }

    .navbar{
        /*background: linear-gradient(to top, white, #7393B3);*/
        width: 100%;
        height: auto;
        background-color: white;
        padding-bottom: 20px;
    }

    .header {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px; 
    }

    .login a {
    
        list-style-type: none;
        list-style: none;
        text-decoration: none;
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: .5s ease-in-out;
        font-size: 18px;
    }
    
    .menu{
        display:flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        list-style: none;
        margin: 0;/* -40 margin makes it go up. might be useful*/
        
    
       /* padding-left: 30px;
        padding-right: 30px;*/
    }
    
    /* This deals with the navigation and menu bars-TD*/
    ul{
    list-style-type: none;
    list-style: none;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .menu ul li {
        list-style: none;
        margin-left: 25px;
        margin-right: 25px;/* This spaces out the tabs-TD*/
        font-size: 20px;
        position: relative;
    }
    
    
    .menu ul li a:hover {
        color: rgb(214, 193, 0);
    }
    
    
    /*cosmetics Home, About, Ministries, ETC...-TD*/
    ul li a{
        text-decoration: none;
        color: green;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        transition: .5s ease-in-out;
    }
    
    
    /*transition hovering color-TD*/
    ul li a:hover{
        color: rgb(214, 193, 0);
    }
    
    
    
    
    
    
    /*when hovering this will show the submenus-TD*/
    ul .submenu {
        
        text-align: left;
        margin: 0;
        z-index: 2;/*wow now it finally doesnt go under the banner, big headache figuring this out*/
        display: none;
        position: absolute;
        top: 90%; 
        left: 0;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 5px;
        width: 300%; 
        /*gives it some space between submenu lines, so annoying initially-TD*/
        line-height: 120%;
    }
    
    
    
    .sub-menu li {
        padding: 15px 20px;
    }
    
    
    
    ul li:hover .submenu {
        display:block; 
    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(School.jpg);
        background-position: center;
        height: 100px;
        color:#2c3093;
    }

    @media only screen and (max-width: 623px) {/*mobile view -TD*/
        .menu ul li {
    
            font-size: 15px; 
            margin: 0; 
    
    
        }
        ul .submenu {
        
            width: 110%; 
      
        }
    }
    
    .middle{
        /*background: linear-gradient(to bottom, #32CD32, white );*/
    
           /* background: linear-gradient(to bottom, white, #7393B3);*/
    
        background: linear-gradient(to bottom, rgb(207, 206, 212), white);
        
        height: auto;
        
    }
    .button {
        border: none;
        color: #2c3093;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        background-color: #dad8e4;
        font-weight: bold;
        letter-spacing: .1px;
        
      }
      
    
    .info{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding-left: 200px;
        padding-right: 200px;
        padding-top:10px;
        height: 90vh;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
    }
    
    
    .info p {
        color:black;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        font-size: 30px;
        padding-top: 10px;
    
        
        
    
        
    
    }
    .info p2 {
        padding-bottom: 10px;
        padding-top:10px;
    }
    .side-by-side { 
        display: flex; 
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
    } 
    .leftrightbutton {
        
        padding: 10px;
    }
    
    .calendar{
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 40px;
    
        color: white;
        padding-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
        
      
    }
    
    .verse {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
        background-color: rgb(50, 49, 94);
        font-size: 30px;
        padding-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .verse p2 {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .bottomPage p{
        width: 100%;
        position: relative;
        bottom: 15px;
        background-color: #333; 
        color: #fff;
        text-align: center; 
     
        font-size: 14px; 
        font-family: Arial, Helvetica, sans-serif;
    }