
*{
	text-decoration: none;
	
	list-style-type: none;
    list-style: none;
 
}
.main{
	max-width:100%;
	width: 100%;
	height: 120vh;
	position: relative;
	background-position: center;
	background-size: cover;
	/* overflow-x: hidden; */


}


.menu-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
	color:darkgoldenrod;
	padding-left: 10px;
}

.top{
background-color: white;
}
.logo{
display: flex;
justify-content: left;
align-items: center;
height: auto;
list-style: none;

}
.login a {
list-style-type: none;
list-style: none;
text-decoration: none;
color: green;

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: .5s ease-in-out;
font-size: 18px;
outline: 0; 
}
/*lines 45-60 written by Jillian*/
/*this adjusts the sign in in the school box - j*/
.schoollogin a {
padding-left:90px;
justify-content: center;
list-style-type: none;
list-style: none;
text-decoration: none;
/* color: green; */
color:darkgoldenrod;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: .5s ease-in-out;
font-size: 18px;
outline: 0; 
}


.navbar{

/* width: 100%; */
height: auto;
background-color: white;
padding: 20px;
margin-bottom: 20px;
}
/*lines 70-88 written by Jillian*/
.schoolmenu {


/* background-color: #dddddd; changes the color of the side box */
display: block;	  
/* color:#2c3093; */
padding-top:5px;
text-decoration: none; 
font-size : 20px;
height:300px;
justify-content: center;
}

.menu{
display: flex;
justify-content: center;
align-items: center;
}
ul{
	list-style-type: none;
	list-style: none;
	float:left;
	display: flex;
	justify-content: center;
	align-items: center;
	}
	/*lines 97-159 written by Thomas*/
.menu ul li {
    list-style: none;
    margin-left: 25px;
    margin-right: 25px;/* This spaces out the tabs-TD*/
    font-size: 20px;
    position: relative;
}
.menu ul li a:hover {
    color: rgb(214, 193, 0);
}


/*cosmetics Home, About, Ministries, ETC...-TD*/
ul li a{
    text-decoration: none;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .5s ease-in-out;
}


/*transition hovering color-TD*/
ul li a:hover{
    color: rgb(214, 193, 0);
}






/*when hovering this will show the submenus-TD*/
ul .submenu {
    
    text-align: left;
    margin: 0;
    z-index: 2;/*wow now it finally doesnt go under the banner, big headache figuring this out*/
    display: none;
    position: absolute;
    top: 90%; 
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    width: 300%; 
    /*gives it some space between submenu lines, so annoying initially-TD*/
    line-height: 26px;
}



.sub-menu li {
    padding: 15px 20px;
}



ul li:hover .submenu {
    display:block; 
}

.space {
	height: 60px;
	background-color: rgb(49, 94, 49);
	width: 100%;
	margin-bottom: 20px;
}

/*lines 160-209 written by Jillian */
.menu2{
display: flex;

text-align: center;
}


ul{
float: left;
display: flex;
margin: 0;
padding: 0;
}

.menu ul li a{
color: green;

font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: .5s ease-in-out;
text-decoration: none;
}

.menu ul li {
list-style: none;
text-decoration: none;
margin-left: 20px;
font-size: 20px;
}
.menu2 ul li {
list-style: none;
text-decoration: none;
margin-left: 5px;
font-size: 20px;
padding:15px;
padding-left: 38px;



}
.menu2 ul li a {
	color:white;
	
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: .5s ease-in-out;
text-decoration: none;

}






.middle{
/*background: linear-gradient(to bottom, #32CD32, white );*/

   /* background: linear-gradient(to bottom, white, #7393B3);*/

background-color: #dee6de;

height: auto;

}
/*lines 226-355 written by Jillian*/
.info{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
/* padding-top: 60px; */
padding-left: 200px;
padding-right: 200px;
height: auto;
/* color: white; */
font-family: Arial, Helvetica, sans-serif;






}
.info h1 {
	font-size: 30px; 
	color:darkgoldenrod;
	

}
.info p2 {
font-size:19px;
color: black;
}

.grid-container {
display: grid;
grid-template-columns: 200px auto;
grid-template-rows: 50px	
					300px;
padding-bottom: 20px;



}


.grid-container2 {
display: grid;
grid-template-columns: 50% 50%;
grid-template-rows: 400px;
justify-content: center;
/* align-items: center; */




}
.side-by-side { 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: center;
} 

  .grid-itemgreen {
    background-color: rgb(49, 94, 49);
    font-size: 30px;
	

	
	
}


.grid-itemgreen.white-background {
    background-color: white;
}

.grid-item {
/* background-color: rgba(255, 255, 255, 0.8); */


font-size: 30px;
text-align: center;
/* border:1px solid black; shows the border of the divs for the top part of the school website -j  */
}

.grid-item2 {
/* background-color: rgba(255, 255, 255, 0.8); */

padding: 20px;
font-size: 30px;
text-align: center;
/* border:1px solid black; */
}
.grid-item2 h1 {
color: black;
font-family: "Arial", sans-serif;
font-size: 20px;
}
.grid-item2 p {
font-size: 19px; 
font-family: "Arial", sans-serif;

}






.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: rgb(49, 94, 49);
	font-weight: bold;
	letter-spacing: .1px;
	
  }
.button:hover {
	background-color: darkgoldenrod;
}
.leftrightbutton {
	
	padding: 10px;
	
}
.grid-item2 h1 {
	padding-bottom: 15px;
	font-size: 25px;
	color: darkgoldenrod;
}
/*lines 355-385 written by Brandon*/
.verse {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
color: white;
background-color: rgb(49, 94, 49);
font-size: 25px;
padding-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;
}
.verse p2 {
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
}

.bottomPage p{
width: 100%;
position: relative;
bottom: 15px;
background-color: #333; 
color: #fff;
text-align: center; 

font-size: 14px; 
font-family: Arial, Helvetica, sans-serif;
}







